body{
    background-color: rgb(240, 240, 240);
    font-family:   Roboto, Arial, sans-serif;
    margin-bottom: 77px;
    height: 1000px;
    margin-left: 100px;
    margin-top: 77px;
    margin-right: 20px;
    
}
p{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}