.nav_bar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    align-items: center;
    border-bottom: 1px solid #dedede;
    background-color: white;
    z-index: 200;
}
.hamburger{
    width: 24px;
    cursor: pointer;
    margin-left:24px;
    margin-right:16px;
}
.youtube_logo{
    height: 20px;
    cursor: pointer;
}
.search_butt{
    display: flex;
    flex: 1;
    max-width: 500px;
    align-items: center;
    justify-content: space-around;
    
}
.search{
    height: 40px;
    display: flex;
    border: none;
    flex: 1;
    width: 0;
    min-width: 0;
    color: rgb(162, 162, 162);
    font-size: 16px;
    border: 1px solid #cccccc;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    box-shadow: inset 0px 1px 2px #eeeeee;
    padding: 0px  12px;
}
.nav_button{
    height: 40px;
    width: 64px;
    border: none;
    cursor: pointer;
    padding: 0px 4px;
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    position:relative;
}
.search_pic{
    width: 24px;
}
.mic_button{
    border: none;
    border-radius: 20px;
    background-color: #f8f8f8;
    cursor: pointer;
    height: 40px;
    width: 40px;
    
}
.mic{
    height: 24px;
    cursor: pointer;
}
.upload{
    width: 24px;
    cursor: pointer;
}
.my_channel{
    width: 33px;
    cursor: pointer;
}
.notif{
    width: 24px;
    cursor: pointer;
}
.apps{
    width: 24px;
    cursor: pointer;
}
.center{
    display: flex;
    gap: 9px;
    align-items: center;
   justify-content: center;
   max-width: 470px;
margin-left: 60px;
    flex: 1;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right:24px ;
}
.notification-container{
    position: relative;
}
.count{
    background-color: rgb(219, 19, 19);
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;
    position: absolute ;
    top: -5px;
    right: -7px;
    text-align: center;
}
.mic_button,.nav_button,.right_pic_container {
    position: relative;
    display: flex;
    align-items: center;
   
    justify-content: center;
}

.nav_button .tooltip,.mic_button .tooltip,.notification-container .tooltip,
.right_pic_container .tooltip{
    background-color: rgb(83, 81, 81);
    color: rgb(209, 208, 208);
    position:absolute;
    font-size: 10px;
    opacity: 0;
    padding: 4px 8px;
    bottom: -30px;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
}
.mic_button:hover .tooltip,
    .nav_button:hover .tooltip,
    .right_pic_container:hover .tooltip,
    .notification-container:hover .tooltip
    {
        opacity: 1;

    }
 














